# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
build/
downloads/
lib/
lib64/
var/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyBuilder
target/